@import "tailwindcss";

:root {
  --black: #000;
  --white: #fff;
  --background: #dfebe9;
  --alternativeBackground: #a3a3a3;
  --darkBackgorund: #1b1b1b;
  --accent: #00c9a9;
  --hoverAccent: #05b597;
  --alternativeAccent: #e96062;
  --hoverAlternativeAccent: #e04d4f;
}

* {
  font-family: "Inter";
  box-sizing: border-box;
}

/* .material-symbols-outlined {
  font-size: 2.5vw;
} */
